@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.bread_crumb_block.type_productDetail .bread_crumb, .radio_box, .checker, .check_box_typeform {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.bread_crumb_block.type_productDetail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  line-height: 28px;
}

@media all and (max-width: 1301px) {
  .bread_crumb_block.type_productDetail {
    padding: 0 15px;
  }
}

.bread_crumb_block.type_productDetail .bread_crumb {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0;
}

.bread_crumb_block.type_productDetail .bread_crumb .bread_crumb_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: .9em;
  margin: 0;
  padding: 0 10px 0 0px;
  letter-spacing: .5px;
}

.bread_crumb_block.type_productDetail .bread_crumb .bread_crumb_item .home {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 10px 0 0;
  font-size: .9em;
  color: #3f3f3f;
}

.bread_crumb_block.type_productDetail .bread_crumb .bread_crumb_item .arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 6px 0 4px;
  font-size: 0.6em;
  color: #c4cad1;
}

.bread_crumb_block.type_productDetail .bread_crumb .bread_crumb_item.bc_last {
  font-weight: 600;
}

.radio_box {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  width: auto;
  min-width: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 0 18px 0 0;
  cursor: pointer;
}

.radio_box .radio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 25px;
  height: 15px;
  position: relative;
  opacity: 0;
  cursor: pointer;
}

.radio_box .radio:checked ~ label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f29001;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
}

.radio_box .radio:checked ~ label:before {
  border-color: #f29001;
}

.radio_box .label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 0;
}

.radio_box .label:before {
  content: "";
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  position: absolute;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.checker {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: auto;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker .text {
  width: auto;
  position: relative;
  z-index: 1;
  font-size: 17px;
  line-height: 24px;
}

@media all and (max-width: 500px) {
  .checker .text {
    width: calc(100% - 60px);
  }
}

.checker input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checker input:checked ~ .checkmark {
  background-color: #f29001;
  border-color: transparent;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker input:checked ~ .checkmark:after {
  display: block;
}

.checker .checkmark {
  position: relative;
  height: 22px;
  width: 22px;
  margin: 0 6px 0 0;
  border-width: 1px;
  border-color: #bbbbbb;
  border-style: solid;
}

.checker .checkmark:after {
  font-family: FontAwesome;
  content: "";
  position: absolute;
  display: none;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checker.type_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: auto;
  padding: 6px 13px;
  margin: 7px 18px 7px 0;
  background-color: #ddd;
  border-radius: 3px;
}

.checker.type_box input:checked ~ .checkbg {
  background-color: #f29001;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker.type_box input:checked ~ .text {
  color: #fff;
  padding: 0 0px  0 10px;
}

.checker.type_box input:checked ~ .checkmark:after {
  display: block;
}

.checker.type_box .text {
  padding: 0 10px;
}

.checker.type_box .checkbg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}

.checker.type_box .checkmark {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
  border: 0px solid transparent;
}

.checker.type_box .checkmark:after {
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  content: '\f00c';
  position: relative;
  float: left;
  display: none;
  color: #fff;
  font-size: 16px;
  top: 1px;
  width: 10px;
  height: 14px;
  padding: 2px 0;
  border: 0 solid transparent;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.inputer {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  max-width: 100%;
  padding: 8px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.inputer::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191;
}

.inputer ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #919191;
}

@media all and (max-width: 801px) {
  .inputer {
    margin: 8px auto;
  }
}

.inputer:focus {
  border-color: #f29001;
  -webkit-box-shadow: 0px 0px 10px #f29001;
          box-shadow: 0px 0px 10px #f29001;
}

.selecter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 10px 20px 10px 0;
  padding: 6px;
  border: 1px solid #aaa;
  letter-spacing: 2px;
  color: #333;
  background-color: #fff;
}

.texter {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: 17px;
  border: 1px solid #aaa;
  padding: 8px;
}

.texter:focus {
  outline-color: #f29001;
}

.check_box_typeform {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 16px 0 0;
  width: 100%;
}

.agree_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 16px 0 0;
  width: 100%;
}

.type_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  background-color: #f29001;
  border-radius: 5px;
  padding: 14px 40px;
  -webkit-box-shadow: 3px 3px 8px #ccc;
          box-shadow: 3px 3px 8px #ccc;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.type_button:hover {
  opacity: .9;
}

.type_button:active {
  opacity: 1;
  -webkit-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: 1px 1px 2px #777;
          box-shadow: 1px 1px 2px #777;
}

.type_button.style_gray {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  background-color: #ccc;
  color: #444;
}

.img_box {
  overflow: hidden;
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

.radio_box {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  width: auto;
  min-width: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 0 18px 0 0;
  cursor: pointer;
}

.radio_box .radio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 25px;
  height: 15px;
  position: relative;
  opacity: 0;
  cursor: pointer;
}

.radio_box .radio:checked ~ label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f29001;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
}

.radio_box .radio:checked ~ label:before {
  border-color: #f29001;
}

.radio_box .label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 0;
}

.radio_box .label:before {
  content: "";
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  position: absolute;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.checker {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: auto;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker .text {
  width: auto;
  position: relative;
  z-index: 1;
  font-size: 17px;
}

@media all and (max-width: 500px) {
  .checker .text {
    width: calc(100% - 60px);
  }
}

.checker input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checker input:checked ~ .checkmark {
  background-color: #f29001;
  border-color: transparent;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker input:checked ~ .checkmark:after {
  display: block;
}

.checker .checkmark {
  position: relative;
  height: 22px;
  width: 22px;
  margin: 0 6px 0 0;
  border-width: 1px;
  border-color: #bbbbbb;
  border-style: solid;
}

.checker .checkmark:after {
  font-family: FontAwesome;
  content: "";
  position: absolute;
  display: none;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checker.type_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: auto;
  padding: 6px 13px;
  margin: 7px 18px 7px 0;
  background-color: #ddd;
  border-radius: 3px;
}

.checker.type_box input:checked ~ .checkbg {
  background-color: #f29001;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker.type_box input:checked ~ .text {
  color: #fff;
  padding: 0 0px  0 10px;
}

.checker.type_box input:checked ~ .checkmark:after {
  display: block;
}

.checker.type_box .text {
  padding: 0 10px;
}

.checker.type_box .checkbg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}

.checker.type_box .checkmark {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
  border: 0px solid transparent;
}

.checker.type_box .checkmark:after {
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  content: '\f00c';
  position: relative;
  float: left;
  display: none;
  color: #fff;
  font-size: 16px;
  top: 1px;
  width: 10px;
  height: 14px;
  padding: 2px 0;
  border: 0 solid transparent;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.inputer {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  max-width: 100%;
  padding: 8px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.inputer::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191;
}

.inputer ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #919191;
}

@media all and (max-width: 801px) {
  .inputer {
    margin: 8px auto;
  }
}

.inputer:focus {
  border-color: #f29001;
  -webkit-box-shadow: 0px 0px 10px #f29001;
          box-shadow: 0px 0px 10px #f29001;
}

.selecter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 10px 20px 10px 0;
  padding: 6px;
  border: 1px solid #aaa;
  letter-spacing: 2px;
  color: #333;
  background-color: #fff;
}

.texter {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: 17px;
  border: 1px solid #aaa;
  padding: 8px;
}

.texter:focus {
  outline-color: #f29001;
}

.check_box_typeform {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 16px 0 0;
  width: 100%;
}

.agree_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 16px 0 0;
  width: 100%;
}

.video_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video_box > div, .video_box > iframe {
  width: 100%;
  height: 100%;
}

#loading {
  z-index: 500;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #fffffff5;
  -webkit-transition: .8s all ease-in-out;
  -o-transition: .8s all ease-in-out;
  transition: .8s all ease-in-out;
  opacity: 1;
  position: fixed;
}

#loading.complete {
  opacity: 0;
}

#loading .text {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  white-space: nowrap;
  letter-spacing: 2px;
  text-indent: 2px;
  width: auto;
  height: 28px;
  font-size: 17px;
  z-index: 500;
  position: absolute;
  font-family: '微軟正黑體', Arial;
  color: rgba(0, 0, 0, 0.822);
  animation: loading_blink 2s infinite ease-in-out;
  -webkit-animation: loading_blink 2s infinite ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@keyframes loading_blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading_blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
