@charset "UTF-8";

 .cwtexyen{
    font-family:  sans-serif ,'微軟正黑體','Arial', '新細明體';
}
.breadcrumbs.new{
    font-size: 14px;
    font-weight: 500;
    display:block;
    color: #969696;
    margin:10px auto 0px;
    padding: 0;
    height:37px;
    list-style:none;
    width:1050px;
}
.breadcrumbs.new .crumbs { 
    display:inline-block;
    color: #d6d6d6;
     font-weight: 500;
    font-size: 15px;
    margin:10px 3px 2px ;
    padding:0;
    cursor:default;
}
.breadcrumbs.new .crumbs .crumbs_link{ 
    display:inline-block;
    color: #d6d6d6;
}
.breadcrumbs.new  .arrow{ 
   margin:0 0 0 4px;
}
.breadcrumbs.new .crumbs.active .crumbs_title{
 color: #ffffff;
}
.breadcrumbs.new .crumbs.active .arrow{
    display:none;
}
 .breadcrumbs.new i{
    font-size: 16px;
    display:inline-block;
    margin:0 2px 0 0;
    color: #e7e6e6;
}

::-webkit-scrollbar {
width: 13px;
}
::-webkit-scrollbar-track {
-webkit-border-radius: 15px;
border-radius: 15px;
margin:20px 0 20px 0;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 4px;
border-radius: 20px;
background: rgb(183, 183, 183);
}
@media only screen and (max-width:781px){
    

}
.loader-inner {/*loading共用樣式*/
        margin: 10px 0 ;
        text-align: center;
}