@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.gotop_gobottom, .recommender_block, .recommender_block .control_bar, .recommender_block .control_bar .tab_box, .recommender_block .recommend_slider_block, .recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block, .recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .imagine, .recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .content_box .recommend_course_price, .recommender_block .recommend_slider_block .recommend_slider_block_controller, .recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block, .recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .imagine, .recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .content_box .recommend_course_price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.skylight_link {
  position: absolute;
  width: 100px;
  right: calc(43% - 650px);
  padding: 3px 0 0 0;
  -webkit-filter: drop-shadow(2px 2px 1px #00000091);
  filter: drop-shadow(2px 2px 1px #00000091);
}

@media all and (max-width: 1501px) {
  .skylight_link {
    display: none;
  }
}

.skylight_link.dp_mob {
  display: none;
}

@media all and (max-width: 1501px) {
  .skylight_link.dp_mob {
    display: inline-block;
    top: 100px;
    right: 0;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    width: 80px;
    height: 100px;
  }
}

.skylight_link .skylight_link_item {
  position: absolute;
  width: 90px;
  height: 70px;
  -webkit-transition: .1s ease-out all;
  -o-transition: .1s ease-out all;
  transition: .1s ease-out all;
}

@media all and (max-width: 1301px) {
  .skylight_link .skylight_link_item {
    width: 90px;
    height: 50px;
  }
}

.skylight_link .skylight_link_item img {
  max-width: 100%;
  max-height: 100%;
}

.skylight_link .sli_1 {
  width: 50px;
  height: 70px;
  margin: 5px 0 0 20px;
}

@media all and (max-width: 1301px) {
  .skylight_link .sli_1 {
    width: 50px;
    height: 50px;
  }
}

.skylight_link .sli_2 {
  -webkit-animation: sklight_blinke 3s 0s ease-in-out infinite;
          animation: sklight_blinke 3s 0s ease-in-out infinite;
  background-blend-mode: screen;
}

.skylight_link:hover .sli_1 {
  opacity: .8;
}

#SkylightLinkMobile {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

#SkylightLinkMobile.onhide {
  right: -150px;
}

@keyframes sklight_blinke {
  0% {
    -webkit-transform: scale(1.04, 1.04) translate(1px, 4px);
            transform: scale(1.04, 1.04) translate(1px, 4px);
  }
  50% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
    opacity: .94;
  }
  100% {
    -webkit-transform: scale(1.04, 1.04) translate(1px, 4px);
            transform: scale(1.04, 1.04) translate(1px, 4px);
  }
}

@-webkit-keyframes sklight_blinke {
  0% {
    -webkit-transform: scale(1.04, 1.04) translate(1px, 4px);
            transform: scale(1.04, 1.04) translate(1px, 4px);
  }
  50% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
    opacity: .94;
  }
  100% {
    -webkit-transform: scale(1.04, 1.04) translate(1px, 4px);
            transform: scale(1.04, 1.04) translate(1px, 4px);
  }
}

.gotop_gobottom {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background-color: #0000003f;
  opacity: .8;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 20px;
  z-index: 40;
  pointer-events: all;
  cursor: pointer;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.gotop_gobottom.addhight {
  bottom: 95px;
}

@media all and (max-width: 640px) {
  .gotop_gobottom {
    width: 35px;
    height: 35px;
    font-size: 13px;
    right: 20px;
  }
}

.gotop_gobottom i {
  padding: 2px 0 0 0;
  color: #ffffff;
}

@media all and (max-width: 600px) {
  .gotop_gobottom i {
    padding: 0px 0 0 0;
  }
}

.gotop_gobottom .gotop_gobottom_deco {
  width: 50%;
  position: absolute;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  border-radius: 4px;
  height: 2px;
  background-color: #ffffff;
}

@media all and (max-width: 600px) {
  .gotop_gobottom .gotop_gobottom_deco {
    width: 38%;
  }
}

.gotop_gobottom .gotop_gobottom_deco.gobotton {
  bottom: 10px;
}

@media all and (max-width: 600px) {
  .gotop_gobottom .gotop_gobottom_deco.gobotton {
    bottom: 10px;
  }
}

.gotop_gobottom .gotop_gobottom_deco.gotop {
  top: 10px;
}

@media all and (max-width: 600px) {
  .gotop_gobottom .gotop_gobottom_deco.gotop {
    top: 10px;
  }
}

.gotop_gobottom:hover {
  opacity: 1;
}

.gotop_gobottom.unactive {
  pointer-events: none;
  opacity: .8;
  -webkit-filter: drop-shadow(0px 0px 7px transparent);
  filter: drop-shadow(0px 0px 7px transparent);
  color: #999;
}

.recommender_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  bottom: 0px;
  position: fixed;
  z-index: 990;
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  -webkit-transition: .4s all ease-in-out;
  -o-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-filter: drop-shadow(0px 0px 7px #00000033);
  filter: drop-shadow(0px 0px 7px #00000033);
}

@media all and (max-width: 640px) {
  .recommender_block {
    height: 60px;
  }
}

.recommender_block.oncollapse {
  height: 0px;
}

.recommender_block .control_bar {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  top: -25px;
  -webkit-filter: drop-shadow(0px 0px 0px #000000);
  filter: drop-shadow(0px 0px 0px #000000);
  color: #f29001;
  pointer-events: none;
}

@media all and (max-width: 640px) {
  .recommender_block .control_bar {
    top: -20px;
  }
}

.recommender_block .control_bar .tab_box {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 70%;
  -webkit-tap-highlight-color: transparent;
}

.recommender_block .control_bar .tab_box:active > .tab_item {
  background-color: #eee;
}

@media all and (max-width: 640px) {
  .recommender_block .control_bar .tab_box {
    max-width: 92%;
  }
}

.recommender_block .control_bar .tab_box .tab_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: right;
  text-align: center;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  padding: 1px 6px 0;
  width: auto;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  font-size: .9em;
  pointer-events: all;
  overflow: hidden;
}

@media all and (max-width: 640px) {
  .recommender_block .control_bar .tab_box .tab_item {
    font-size: .8em;
    height: 20px;
    line-height: 20px;
  }
}

.recommender_block .control_bar .tab_box .tab_item:before {
  content: '';
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  position: absolute;
  top: 0px;
  background-color: #f29001;
}

.recommender_block .control_bar .tab_box .tab_item.unactive {
  pointer-events: none;
}

.recommender_block .control_bar .tab_box .tab_name {
  width: 90px;
  border-top-left-radius: 4px;
  overflow: hidden;
  letter-spacing: 1px;
}

@media all and (max-width: 600px) {
  .recommender_block .control_bar .tab_box .tab_name {
    width: 70px;
  }
}

.recommender_block .control_bar .tab_box .collapse {
  width: 32px;
  border-top-right-radius: 4px;
}

.recommender_block .control_bar .tab_box .collapse i {
  -webkit-transition: .4s all ease-in-out;
  -o-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
}

.recommender_block .control_bar .tab_box .collapse.active i {
  -webkit-transform: rotate(540deg);
      -ms-transform: rotate(540deg);
          transform: rotate(540deg);
}

.recommender_block .recommend_slider_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1300px;
  min-height: 70px;
  margin: 5px 0  0 0;
}

@media all and (max-width: 640px) {
  .recommender_block .recommend_slider_block {
    margin: 5px 0  0 0;
    min-height: 60px;
  }
}

.recommender_block .recommend_slider_block .recommend_swiper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 5px 15px;
  width: 100%;
  max-width: 1300px;
  overflow: hidden;
}

@media all and (max-width: 640px) {
  .recommender_block .recommend_slider_block .recommend_swiper {
    padding: 4px 12px;
  }
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 3px;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  margin: 0 8px;
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block.animating {
  animation-name: jump;
  animation-duration: 1.6s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;
  animation-delay: 1;
  animation-direction: normal;
  -webkit-animation-name: jump;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 1;
  -webkit-animation-direction: normal;
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block:hover {
  -webkit-box-shadow: 0px 0px 8px #ff922cc4;
          box-shadow: 0px 0px 8px #ff922cc4;
  border: 1px solid #f29201;
}

@media all and (max-width: 640px) {
  .recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block {
    width: 200px;
  }
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .imagine {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: relative;
  width: 80px;
  height: 60px;
  background-color: transparent;
  overflow: hidden;
}

@media all and (max-width: 640px) {
  .recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .imagine {
    width: 70px;
    height: 54px;
  }
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .imagine img {
  max-width: 100%;
  max-height: 100%;
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .content_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  padding: 3px 8px;
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .content_box .recommend_course_name {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-height: 40px;
  width: 100%;
  font-size: 13px;
  color: #0070c6;
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .content_box .recommend_course_price {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .content_box .recommend_course_price .tip {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 12px;
  color: #aaa;
}

@media all and (max-width: 640px) {
  .recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .content_box .recommend_course_price .tip {
    display: none;
  }
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .content_box .recommend_course_price .original_price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #aaa;
  text-decoration: line-through;
}

.recommender_block .recommend_slider_block .recommend_swiper .float_recommender_course_block .content_box .recommend_course_price .real_price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: right;
  font-size: 13px;
  color: #cf0909;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.recommender_block .recommend_slider_block .recommend_slider_block_controller {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1300px;
}

.recommender_block .recommend_slider_block .recommend_slider_block_controller .recommender_swiper_next,
.recommender_block .recommend_slider_block .recommend_slider_block_controller .recommender_swiper_prev {
  background-size: 80%;
  padding: 40px 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  outline: none;
}

.recommender_block .recommend_slider_block .recommend_slider_block_controller .recommender_swiper_next:hover,
.recommender_block .recommend_slider_block .recommend_slider_block_controller .recommender_swiper_prev:hover {
  opacity: .9;
}

.recommender_block .recommend_slider_block .recommend_slider_block_controller .recommender_swiper_next:active,
.recommender_block .recommend_slider_block .recommend_slider_block_controller .recommender_swiper_prev:active {
  opacity: .75;
}

.recommender_block .recommend_slider_block .recommend_slider_block_controller .recommender_swiper_next {
  right: calc(50% - 680px);
  background-image: url(../img/rcmd_ca_next.svg);
}

.recommender_block .recommend_slider_block .recommend_slider_block_controller .recommender_swiper_prev {
  left: calc(50% - 680px);
  background-image: url(../img/rcmd_ca_prev.svg);
}

.recommender_block .recommend_slider_block .recommend_sliker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0 15px;
  width: 100%;
  max-width: 1300px;
  overflow: visible;
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  background-color: #ffffff;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  margin: 0 20px 0 0;
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block:hover {
  -webkit-transform: translate(0, -8px);
      -ms-transform: translate(0, -8px);
          transform: translate(0, -8px);
}

@media all and (max-width: 350px) {
  .recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block {
    width: 100%;
  }
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .imagine {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100px;
  height: 75px;
  background-color: #0000001e;
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .content_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: calc(100% - 100px);
  padding: 8px;
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .content_box .recommend_course_name {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-height: 40px;
  width: 100%;
  font-size: 15px;
  color: #0070c6;
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .content_box .recommend_course_price {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .content_box .recommend_course_price .tip {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 13px;
  color: #aaa;
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .content_box .recommend_course_price .original_price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #888;
  text-decoration: line-through;
}

.recommender_block .recommend_slider_block .recommend_sliker .float_recommender_course_block .content_box .recommend_course_price .real_price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #cf0909;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-arrow {
  position: absolute;
  background-size: 80%;
  background-color: #f29001;
  padding: 10px;
  border-radius: 50px;
  width: 14px;
  height: 14px;
  top: 40px;
  margin: auto 0;
  outline: none;
  color: transparent;
  font-family: "Font Awesome 5 Free";
  font-weight: bolder;
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-arrow:hover {
  opacity: .9;
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-arrow:active {
  opacity: .75;
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-arrow:before {
  color: #fff;
  font-size: 15px;
  position: absolute;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  top: 3px;
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-arrow.slick-prev {
  left: -20px;
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-arrow.slick-prev:before {
  content: "\f104";
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-arrow.slick-next {
  right: -20px;
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-arrow.slick-next:before {
  content: "\f105";
}

.recommender_block .recommend_slider_block .recommend_sliker .slick-list {
  padding: 12px 0;
}

@keyframes jump {
  0% {
    border: 2px solid #f29201;
  }
  20% {
  }
  30% {
  }
  40% {
  }
  70% {
  }
  90% {
  }
  100% {
    border: 2px solid #ddd;
  }
}

@-webkit-keyframes jump {
  0% {
    border: 2px solid #f29201;
  }
  20% {
  }
  30% {
  }
  40% {
  }
  70% {
  }
  90% {
  }
  100% {
    border: 2px solid #ddd;
  }
}

@keyframes nojump {
  0% {
    top: -2px;
  }
  100% {
    top: -2px;
  }
}

@-webkit-keyframes nojump {
  0% {
    top: -2px;
  }
  100% {
    top: -2px;
  }
}

.textReseter {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
}

#loading {
  display: none;
  z-index: 500;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #fffffff5;
  -webkit-transition: .8s all ease-in-out;
  -o-transition: .8s all ease-in-out;
  transition: .8s all ease-in-out;
  opacity: 1;
  position: fixed;
}

#loading.complete {
  opacity: 0;
}

#loading .text {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  white-space: nowrap;
  letter-spacing: 2px;
  text-indent: 2px;
  width: auto;
  height: 28px;
  font-size: 17px;
  z-index: 500;
  position: absolute;
  font-family: '微軟正黑體', Arial;
  color: rgba(0, 0, 0, 0.822);
  animation: loading_blink 2s infinite ease-in-out;
  -webkit-animation: loading_blink 2s infinite ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@keyframes loading_blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading_blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
