@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.area .container.type_detail, #examList .side_info_block, #examList .side_info_block > .info_container, #examList .side_info_block > .info_container > .news, #examList .side_info_block > .info_container > .news > .list, #examList .side_info_block > .info_container > .news > .list > .item, #examList .side_info_block > .info_container > .news > .list > .item a, #examList .side_info_block > .info_container > .services, #examList .side_info_block > .info_container > .services > .list, #examList .side_info_block > .info_container > .services > .list > .item, #examList .side_info_block > .info_container > .services > .list > .item a, #examList .side_info_block > .info_container > .services > .list > .item .icon, #examList .side_info_block > .info_container > .services > .list > .item .title_box, #examList .side_info_block > .info_container > .services > .list > .item .arrow, #examList .side_info_block > .info_container > .links > .list > .item a, #examList .main_content_block, #examList .main_content_block .control_block > .tab_list, #examList .main_content_block .control_block > .tab_list > .tab, #examList .main_content_block .control_block > .tab_list > .tab > .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#examList .el-container::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

#examList .el-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

.area.type_graduate {
  background-color: #408000;
  min-height: 230px;
}

@media all and (max-width: 601px) {
  .area.type_graduate {
    min-height: 240px;
  }
}

.area .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 10px 10px 50px;
}

@media all and (max-width: 1171px) {
  .area .container {
    width: 100%;
    padding: 0px 0px 0px;
  }
}

.area .container.type_detail {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media all and (max-width: 1301px) {
  .area .container.type_detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.area .container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.area .container .title {
  letter-spacing: 0;
}

#examList .side_info_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 280px;
}

@media all and (max-width: 1301px) {
  #examList .side_info_block {
    max-width: unset;
  }
}

#examList .side_info_block > .info_container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#examList .side_info_block > .info_container > .news {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#examList .side_info_block > .info_container > .news > .list {
  list-style: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-height: 160px;
  margin: 0;
  padding: 0;
}

#examList .side_info_block > .info_container > .news > .list > .item {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: relative;
}

#examList .side_info_block > .info_container > .news > .list > .item a {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  padding: 0 0 0 25px;
}

#examList .side_info_block > .info_container > .news > .list > .item a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .side_info_block > .info_container > .news > .list > .item:not(:last-child)::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  background-color: #ddd;
  width: 90%;
  height: 1px;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  bottom: -15px;
}

#examList .side_info_block > .info_container > .news > .list > .item .num {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 1px 6px;
  background-color: #9cd365;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

#examList .side_info_block > .info_container > .services {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#examList .side_info_block > .info_container > .services > .list {
  list-style: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-height: 160px;
  margin: 0;
  padding: 0;
}

#examList .side_info_block > .info_container > .services > .list > .item {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: relative;
}

#examList .side_info_block > .info_container > .services > .list > .item a {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  padding: 10px 34px;
  -webkit-box-shadow: 3px 3px 12px #eee;
          box-shadow: 3px 3px 12px #eee;
  margin: 6px 0;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.089);
          box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.089);
  transition: 0.2s all ease-out;
}

#examList .side_info_block > .info_container > .services > .list > .item a:hover {
  -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  -webkit-box-shadow: 5px 5px 4px rgba(27, 27, 27, 0.199);
          box-shadow: 5px 5px 4px rgba(27, 27, 27, 0.199);
}

#examList .side_info_block > .info_container > .services > .list > .item:nth-child(1) .icon {
  background-color: #9cd365;
}

#examList .side_info_block > .info_container > .services > .list > .item:nth-child(2) .icon {
  background-color: #caa389;
}

#examList .side_info_block > .info_container > .services > .list > .item:nth-child(3) .icon {
  background-color: #ffac31;
}

#examList .side_info_block > .info_container > .services > .list > .item:nth-child(4) .icon {
  background-color: #ffa791;
}

#examList .side_info_block > .info_container > .services > .list > .item .icon {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  background-color: #9cd365;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

#examList .side_info_block > .info_container > .services > .list > .item .icon i {
  color: #fff;
  font-size: 13px;
}

#examList .side_info_block > .info_container > .services > .list > .item .title_box {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 85px;
  text-align: left;
  overflow: hidden;
}

#examList .side_info_block > .info_container > .services > .list > .item .title_box > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  letter-spacing: 0;
}

#examList .side_info_block > .info_container > .services > .list > .item .title_box > .title {
  color: #5a5975;
  font-size: 17px;
}

#examList .side_info_block > .info_container > .services > .list > .item .title_box > .subtitle {
  font-size: 13px;
  color: #ccc;
}

#examList .side_info_block > .info_container > .services > .list > .item .arrow {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  background: #eee;
  border-radius: 50px;
  width: 21px;
  height: 21px;
}

#examList .side_info_block > .info_container > .services > .list > .item .arrow i {
  font-size: 12px;
}

#examList .side_info_block > .info_container > .links > .list > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
}

#examList .side_info_block > .info_container > .links > .list > .item:nth-child(1) .icon {
  color: #642719;
}

#examList .side_info_block > .info_container > .links > .list > .item:nth-child(2) .icon {
  color: #ffac31;
}

#examList .side_info_block > .info_container > .links > .list > .item:nth-child(3) .icon {
  color: #705c57;
}

#examList .side_info_block > .info_container > .links > .list > .item:nth-child(4) .icon {
  color: #eeb58f;
}

#examList .side_info_block > .info_container > .links > .list > .item a {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  padding: 4px 0 4px 27px;
}

#examList .side_info_block > .info_container > .links > .list > .item a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .side_info_block > .info_container > .links > .list > .item:not(:last-child)::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  border: 1px dashed #866059;
  border-width: 0 0 1px 0;
  width: 90%;
  height: 1px;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  bottom: 0px;
  opacity: .3;
}

#examList .side_info_block > .info_container > .links > .list > .item .icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 10px;
}

#examList .side_info_block > .info_container > .links > .list > .item .icon i {
  padding: 0 10px 0 0;
}

#examList .side_info_block > .info_container > .links > .list > .item .title {
  font-size: 18px;
  letter-spacing: 0;
}

#examList .side_info_block > .info_container > .item {
  margin: 0 0 20px;
}

#examList .side_info_block > .info_container > .item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#examList .main_content_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: calc(100% - 290px);
}

@media all and (max-width: 1301px) {
  #examList .main_content_block {
    max-width: unset;
  }
}

#examList .main_content_block .control_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

#examList .main_content_block .control_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  margin: 22px 0  16px;
  color: #111;
  letter-spacing: 3px;
}

#examList .main_content_block .control_block > .tab_list {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  margin: 10px 0;
  width: 100%;
  position: relative;
}

#examList .main_content_block .control_block > .tab_list > .tab {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
  border: solid #eee;
  border-width: 0 0 2px 0;
}

#examList .main_content_block .control_block > .tab_list > .tab > .item {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200%;
  max-width: 200px;
  padding: 10px 20px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  position: relative;
  font-size: 18px;
}

#examList .main_content_block .control_block > .tab_list > .tab > .item:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .main_content_block .control_block > .tab_list > .tab > .item.active:after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  border: solid #f29001;
  border-width: 0 0 1px 0;
  width: 90%;
  height: 1px;
  bottom: -1px;
}

#examList .main_content_block .control_block > .tab_list > .tab > .item.active .icon, #examList .main_content_block .control_block > .tab_list > .tab > .item.active .title {
  color: #f29001;
}

#examList .main_content_block .control_block > .tab_list > .tab > .item > .icon {
  font-size: 16px;
  color: #47bcc7;
}

#examList .main_content_block .control_block > .tab_list > .tab > .item > .title {
  font-size: 17px;
  letter-spacing: 0;
}

@media all and (max-width: 581px) {
  #examList .exam-show .title {
    width: unset;
    text-align: unset;
  }
}

#GraduateDetailTabListSwiper .swiper-button-prev.swiper-button-disabled, #GraduateDetailTabListSwiper .swiper-button-next.swiper-button-disabled {
  display: none;
}

#GraduateDetailTabListSwiper .swiper-button-prev,
#GraduateDetailTabListSwiper .swiper-button-next {
  background-color: #fff;
  bottom: -1px;
}

#GraduateDetailTabListSwiper .swiper-button-prev {
  background-image: url("../img/graduate_img/slider_prev.svg");
  left: 0px;
  right: auto;
  -webkit-box-shadow: 5px 0 10px #ddd;
          box-shadow: 5px 0 10px #ddd;
}

#GraduateDetailTabListSwiper .swiper-button-next {
  background-image: url("../img/graduate_img/slider_next.svg");
  right: 0px;
  left: auto;
  -webkit-box-shadow: -5px 0 10px #ddd;
          box-shadow: -5px 0 10px #ddd;
}
