
$color_fs_orange:#FF7757;
$color_fs_pre_goose:#FFB639;
$color_fs_goose:#FFB636;
$color_fs_courseList_goose:#FEA226;
$color_fs_brown:rgb(95, 54, 23);
$color_fs_blue:rgb(67, 112, 179);
$color_fs_background_gray_bluer:#F6F7F9;//forgetpass

$color_fs_gray:#BCBDBC;
$color_fs_gray_2:rgb(161, 161, 161);
$color_fs_gray_3_fadeblue:#5e6f79;;//blue
$color_fs_gray_3_fadeblue_2:#3b4952;//darkerBlue
$color_fs_background_gray:#F1F1F1;

$color_link:rgb(54, 54, 54);
$color_shadow:rgba(77, 77, 77, 0.2);

$color_fs_font-title:rgb(54, 54, 54);
$color_fs_font-title_2:rgb(68, 68, 68);

$color_fs_font:rgb(90, 90, 90);
$color_fs_font_fader:rgb(110, 110, 110);

$color_fs_footer-font:rgb(124, 124, 124);



