@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.bread_crumb_block .bread_crumb, .area.type_nav, .area.type_cover, .area .container.type_nav, .area .container.type_cover, #examList .subject_block, #examList .subject_conainer, #examList .subject_conainer .subject_item, #examList .subject_conainer.type_mob .subject_item, #examList .subject_conainer.type_fixed, #examList .subject_conainer.type_fixed .subject_item, #examList .subject_nav, #examList .subject_nav .subject_nav_container, #examList .subject_nav .subject_nav_container .subject_list_box, #examList .subject_nav .subject_nav_container .subject_list_box > .list, #examList .side_info_block, #examList .side_info_block > .info_container, #examList .side_info_block > .info_container > .news, #examList .side_info_block > .info_container > .news > .list, #examList .side_info_block > .info_container > .news > .list > .item, #examList .side_info_block > .info_container > .news > .list > .item a, #examList .side_info_block > .info_container > .services, #examList .side_info_block > .info_container > .services > .list, #examList .side_info_block > .info_container > .services > .list > .item, #examList .side_info_block > .info_container > .services > .list > .item a, #examList .side_info_block > .info_container > .services > .list > .item .icon, #examList .side_info_block > .info_container > .services > .list > .item .title_box, #examList .side_info_block > .info_container > .services > .list > .item .arrow, #examList .side_info_block > .info_container > .links > .list > .item a, #examList .main_content_block, #examList .main_content_block .title_block, #examList .recommend_pager_block, #examList .recommend_pager_block .pager, #examList .recommend_pager_block .pager.type_pagination, #examList .recommend_pager_block .pager.type_pagination > .item > a, #examList .recommend_article_block, #examList .pager_block, #examList .more_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#examList .el-container::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

.bread_crumb_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  line-height: 28px;
}

@media all and (max-width: 1301px) {
  .bread_crumb_block {
    padding: 0 15px;
  }
}

.bread_crumb_block .bread_crumb {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0;
}

.bread_crumb_block .bread_crumb .bread_crumb_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 16px;
  margin: 0;
  padding: 0 10px 0 0px;
}

.bread_crumb_block .bread_crumb .bread_crumb_item .home {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 10px 0 0;
  font-size: 16px;
  color: #3f3f3f;
}

.bread_crumb_block .bread_crumb .bread_crumb_item .arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 6px 0 4px;
  font-size: 12px;
}

.bread_crumb_block .bread_crumb .bread_crumb_item.bc_last {
  font-weight: 600;
}

.bread_crumb_block .bread_crumb .bread_crumb_item a {
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.bread_crumb_block .bread_crumb .bread_crumb_item a:hover {
  opacity: .8;
}

.bread_crumb_block.type_graduate .bread_crumb {
  margin: 5px 0;
  color: #fff;
}

.bread_crumb_block.type_graduate .bread_crumb a, .bread_crumb_block.type_graduate .bread_crumb i {
  color: #fff;
}

.bread_crumb_block.type_graduate .bread_crumb .bread_crumb_item.bc_last {
  font-weight: unset;
}

.area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

.area.type_nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 185px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: visible;
  pointer-events: none;
}

@media all and (max-width: 601px) {
  .area.type_nav {
    top: 200px;
  }
}

.area.type_cover {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: -42px;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.area .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 10px 10px 50px;
}

@media all and (max-width: 1171px) {
  .area .container {
    width: 100%;
    padding: 0px 0px 0px;
  }
}

.area .container.type_nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: visible;
  min-height: 400px;
  max-width: unset;
  padding: 0;
  height: 100%;
}

.area .container.type_cover {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0px 50px;
}

@media all and (max-width: 1301px) {
  .area .container.type_cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px 10px 0px;
  }
}

#examList .el-container {
  height: 100%;
  position: relative;
}

#examList {
  font-family: 'Century Gothic','Source Sans Pro' , 'Muli'  ,'cwTeXYen','微軟正黑體','Arial', '新細明體';
}

#examList .subject_block {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  float: left;
  padding: 0 15px;
}

@media all and (max-width: 601px) {
  #examList .subject_block {
    padding: 0 0px;
  }
}

#examList .subject_conainer {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  width: 100%;
  max-width: 360px;
  padding: 10px 0 18px;
  overflow: hidden;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

@media all and (max-width: 601px) {
  #examList .subject_conainer {
    padding: 5px 0;
    overflow: visible;
  }
}

#examList .subject_conainer .subject_item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  min-height: 90px;
  background-color: #6e9b41;
  border-radius: 4px;
  margin: 0 10px 0;
  padding: 0;
  color: #fff;
  text-align: center;
  position: relative;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#examList .subject_conainer .subject_item.openable:after {
  content: '';
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  bottom: -2px;
  position: absolute;
  display: inline-block;
  border: solid #fff;
  width: 0;
  height: 0px;
  border-width: 8px 6px 6px 6px;
  border-color: #fff transparent transparent transparent;
}

#examList .subject_conainer .subject_item.openable.active:after {
  bottom: 5px;
  border-width: 6px 6px 8px 6px;
  border-color: transparent transparent #fff  transparent;
}

#examList .subject_conainer .subject_item.thispage {
  -webkit-box-shadow: 8px 8px 8px rgba(36, 36, 36, 0.384);
          box-shadow: 8px 8px 8px rgba(36, 36, 36, 0.384);
  background-color: #f7a349;
}

#examList .subject_conainer .subject_item:hover {
  background: #f7a349;
}

#examList .subject_conainer .subject_item i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 32px;
  width: 100%;
  padding: 0px  10px 0;
  margin: 0;
  max-height: 0px;
}

#examList .subject_conainer .subject_item .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin: 0;
  max-height: 20px;
  font-weight: bold;
  line-height: 15px;
}

#examList .subject_conainer.type_mob {
  width: 100%;
  max-width: unset;
  display: none;
}

@media all and (max-width: 601px) {
  #examList .subject_conainer.type_mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

#examList .subject_conainer.type_mob .subject_item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  min-height: 30px;
  background-color: #fff;
  color: #408000;
  font-weight: bold;
  padding: 10px  4px;
}

#examList .subject_conainer.type_mob .subject_item:hover {
  opacity: .8;
}

#examList .subject_conainer.type_mob .subject_item i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 18px;
  width: 20px;
  max-height: unset;
  padding: 0;
}

#examList .subject_conainer.type_mob .subject_item .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: calc(100% - 30px);
  text-align: center;
  font-size: 17px;
  margin: 0;
  max-height: 22px;
  letter-spacing: -1px;
}

#examList .subject_conainer.type_fixed {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  width: calc(100% - 450px);
  max-width: unset;
}

@media all and (max-width: 601px) {
  #examList .subject_conainer.type_fixed {
    display: none;
  }
}

#examList .subject_conainer.type_fixed .subject_item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  min-height: 90px;
  background-color: #fff;
  color: #408000;
  border-radius: 4px;
  margin: 0 10px 0;
  text-align: center;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#examList .subject_conainer.type_fixed .subject_item:hover {
  background: #f7a349;
}

#examList .subject_nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 100%;
  height: 100%;
  pointer-events: visible;
  position: relative;
  display: none;
}

#examList .subject_nav .subject_nav_container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#examList .subject_nav .subject_nav_container .subject_list_box {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  padding: 35px;
}

#examList .subject_nav .subject_nav_container .subject_list_box > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

#examList .subject_nav .subject_nav_container .subject_list_box > .list {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
}

#examList .subject_nav .subject_nav_container .subject_list_box > .list > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  max-width: 110px;
  padding: 4px  6px 4px 0;
  font-size: 18px;
}

#examList .subject_nav .subject_nav_container .subject_list_box > .list a {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#examList .subject_nav .subject_nav_container .subject_list_box > .list a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .subject_nav .subject_nav_container .close_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  background-color: #ddd;
  max-width: 1150px;
  text-align: center;
  padding: 8px;
  margin: 20px 10px;
  color: #fff;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#examList .subject_nav .subject_nav_container .close_btn:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .subject_nav .nav_mask {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #000;
  opacity: .7;
  z-index: 0;
  top: 0px;
  cursor: pointer;
}

#examList .side_info_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 280px;
  border: solid #ddd;
  border-width: 0 1px 0 0;
}

@media all and (max-width: 1301px) {
  #examList .side_info_block {
    max-width: unset;
  }
}

#examList .side_info_block > .info_container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#examList .side_info_block > .info_container > .news {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#examList .side_info_block > .info_container > .news > .list {
  list-style: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-height: 160px;
  margin: 0;
  padding: 0;
}

#examList .side_info_block > .info_container > .news > .list > .item {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: relative;
}

#examList .side_info_block > .info_container > .news > .list > .item a {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  padding: 0 0 0 25px;
}

#examList .side_info_block > .info_container > .news > .list > .item a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .side_info_block > .info_container > .news > .list > .item:not(:last-child)::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  background-color: #ddd;
  width: 90%;
  height: 1px;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  bottom: -15px;
}

#examList .side_info_block > .info_container > .news > .list > .item .num {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 1px 6px;
  background-color: #9cd365;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

#examList .side_info_block > .info_container > .services {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#examList .side_info_block > .info_container > .services > .list {
  list-style: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-height: 160px;
  margin: 0;
  padding: 0;
}

#examList .side_info_block > .info_container > .services > .list > .item {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: relative;
}

#examList .side_info_block > .info_container > .services > .list > .item a {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  padding: 10px 34px;
  -webkit-box-shadow: 0px 3px 10px #eee;
          box-shadow: 0px 3px 10px #eee;
  margin: 6px 0;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.089);
          box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.089);
  transition: 0.2s all ease-out;
}

#examList .side_info_block > .info_container > .services > .list > .item a:hover {
  -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  -webkit-box-shadow: 5px 5px 4px rgba(27, 27, 27, 0.199);
          box-shadow: 5px 5px 4px rgba(27, 27, 27, 0.199);
}

#examList .side_info_block > .info_container > .services > .list > .item:nth-child(1) .icon {
  background-color: #9cd365;
}

#examList .side_info_block > .info_container > .services > .list > .item:nth-child(2) .icon {
  background-color: #caa389;
}

#examList .side_info_block > .info_container > .services > .list > .item:nth-child(3) .icon {
  background-color: #ffac31;
}

#examList .side_info_block > .info_container > .services > .list > .item:nth-child(4) .icon {
  background-color: #ffa791;
}

#examList .side_info_block > .info_container > .services > .list > .item .icon {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  background-color: #9cd365;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

#examList .side_info_block > .info_container > .services > .list > .item .icon i {
  color: #fff;
  font-size: 13px;
}

#examList .side_info_block > .info_container > .services > .list > .item .title_box {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 85px;
  text-align: left;
  overflow: hidden;
}

#examList .side_info_block > .info_container > .services > .list > .item .title_box > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  letter-spacing: 0;
}

#examList .side_info_block > .info_container > .services > .list > .item .title_box > .title {
  color: #5a5975;
  font-size: 17px;
}

#examList .side_info_block > .info_container > .services > .list > .item .title_box > .subtitle {
  font-size: 13px;
  color: #ccc;
}

#examList .side_info_block > .info_container > .services > .list > .item .arrow {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  background: #eee;
  border-radius: 50px;
  width: 21px;
  height: 21px;
}

#examList .side_info_block > .info_container > .services > .list > .item .arrow i {
  font-size: 12px;
}

#examList .side_info_block > .info_container > .links > .list > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
}

#examList .side_info_block > .info_container > .links > .list > .item:nth-child(1) .icon {
  color: #642719;
}

#examList .side_info_block > .info_container > .links > .list > .item:nth-child(2) .icon {
  color: #ffac31;
}

#examList .side_info_block > .info_container > .links > .list > .item:nth-child(3) .icon {
  color: #705c57;
}

#examList .side_info_block > .info_container > .links > .list > .item:nth-child(4) .icon {
  color: #eeb58f;
}

#examList .side_info_block > .info_container > .links > .list > .item a {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  padding: 4px 0 4px 27px;
}

#examList .side_info_block > .info_container > .links > .list > .item a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .side_info_block > .info_container > .links > .list > .item:not(:last-child)::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  border: 1px dashed #866059;
  border-width: 0 0 1px 0;
  width: 90%;
  height: 1px;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  bottom: 0px;
  opacity: .3;
}

#examList .side_info_block > .info_container > .links > .list > .item .icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 10px;
}

#examList .side_info_block > .info_container > .links > .list > .item .icon i {
  padding: 0 10px 0 0;
}

#examList .side_info_block > .info_container > .links > .list > .item .title {
  font-size: 18px;
  letter-spacing: 0;
}

#examList .side_info_block > .info_container > .item {
  margin: 0 0 20px;
}

#examList .side_info_block > .info_container > .item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#examList .main_content_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 35px 0 28px;
  max-width: calc(100% - 290px);
}

@media all and (max-width: 1301px) {
  #examList .main_content_block {
    max-width: unset;
    padding: 0 0px 0;
  }
}

#examList .main_content_block .title_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 20px 0 30px;
  font-size: 28px;
  letter-spacing: 3px;
  text-align: left;
}

#examList .main_content_block .title_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
}

#examList .main_content_block .title_block > .back_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 3px 9px;
  border-radius: 4px;
  letter-spacing: 1px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#examList .main_content_block .title_block > .back_btn:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .recommend_pager_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media all and (max-width: 580px) {
  #examList .recommend_pager_block {
    padding: 0px 0 40px;
  }
}

#examList .recommend_pager_block .pager {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}

@media all and (max-width: 580px) {
  #examList .recommend_pager_block .pager {
    padding: 0 15px 0;
  }
}

#examList .recommend_pager_block .pager.type_pagination {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#examList .recommend_pager_block .pager.type_pagination > .item {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  width: 100%;
  max-width: 310px;
}

#examList .recommend_pager_block .pager.type_pagination > .item:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

@media all and (max-width: 650px) {
  #examList .recommend_pager_block .pager.type_pagination > .item {
    max-width: 100%;
  }
}

#examList .recommend_pager_block .pager.type_pagination > .item > a {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media all and (max-width: 650px) {
  #examList .recommend_pager_block .pager.type_pagination > .item > a {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#examList .recommend_pager_block .pager.type_pagination > .item .title_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 5px 10px;
  width: calc(100% - 50px);
  min-width: 270px;
  max-width: 270px;
}

@media all and (max-width: 650px) {
  #examList .recommend_pager_block .pager.type_pagination > .item .title_box {
    min-width: unset;
    width: 100%;
    max-width: calc(100% - 40px);
    margin: 5px 0;
  }
}

#examList .recommend_pager_block .pager.type_pagination > .item .title_box .subtitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

#examList .recommend_pager_block .pager.type_pagination > .item .title_box > .title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-height: 40px;
  width: 100%;
  font-size: 17px;
  color: #222;
}

#examList .recommend_pager_block .pager.type_pagination > .item .title_box > .subtitle {
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  color: #408000;
  font-weight: bold;
}

#examList .recommend_pager_block .pager.type_pagination > .item .icos {
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  background-color: #f29001;
  padding: 10px 14px;
  border-radius: 4px;
}

#examList .recommend_pager_block .pager.type_pagination > .item.pager_next a {
  float: right;
}

#examList .recommend_pager_block .pager.type_pagination > .item.pager_next .title,
#examList .recommend_pager_block .pager.type_pagination > .item.pager_next .subtitle {
  text-align: right;
}

#examList .recommend_pager_block .pager.type_pagination > .item.pager_prev .title,
#examList .recommend_pager_block .pager.type_pagination > .item.pager_prev .subtitle {
  text-align: left;
}

#examList .recommend_pager_block .pager.type_pagination > .deco {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 14px;
  width: 1px;
  background: #999;
}

@media all and (max-width: 700px) {
  #examList .recommend_pager_block .pager.type_pagination > .deco {
    display: none;
  }
}

#examList .recommend_pager_block .pager .pager_number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 12px 15px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #dadada;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#examList .recommend_pager_block .pager .pager_number:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .recommend_pager_block .pager .pager_number.active {
  background-color: #172532;
  color: #fff;
}

#examList .recommend_article_block {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
}

#examList .recommend_article_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 20px;
  color: #444;
  font-weight: bold;
  margin: 15px 0;
}

#examList .recommend_article_block > .title i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0 8px 0 0;
}

#examList .recommend_article_block > .content_list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  list-style-type: decimal;
  padding: 0 0 0 30px;
}

#examList .recommend_article_block > .content_list > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  padding: 4px 0;
  color: #000;
  width: 100%;
}

#examList .recommend_article_block > .content_list > .item a {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#examList .recommend_article_block > .content_list > .item a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .pager_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0;
}

@media all and (max-width: 580px) {
  #examList .pager_block {
    padding: 0px 0 40px;
  }
}

#examList .pager_block .pager {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: auto;
  margin: 20px auto;
  padding: 0 50px 0;
}

@media all and (max-width: 580px) {
  #examList .pager_block .pager {
    padding: 0 15px 0;
  }
}

#examList .pager_block .pager .pager_number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 16px;
  padding: 12px 15px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #ddd;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  color: #111;
}

#examList .pager_block .pager .pager_number:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#examList .pager_block .pager .pager_number.active {
  background-color: #408000;
  color: #fff;
}

#examList .more_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 15px 0;
  width: 100%;
  text-align: center;
  border: 1px solid #666;
  font-size: 19px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#examList .more_block:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  line-height: 10px;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #ccc;
}

.lazy {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url("images/graduate-loading.svg");
  min-height: 100%;
}

.lazied {
  max-height: unset;
  background-image: unset;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.img_box {
  text-align: center;
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

.img_box.type_teacher_avatar img {
  width: 100%;
}

.img_box.type_teacher_avatar .dp_mob_1 {
  display: none;
}

.img_box.type_teacher_avatar .dp_mob_2 {
  display: none;
}

@media all and (max-width: 1000px) {
  .img_box.type_teacher_avatar .dp_tab {
    display: none;
  }
  .img_box.type_teacher_avatar .dp_mob_1 {
    display: block;
  }
  .img_box.type_teacher_avatar .dp_mob_2 {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .img_box.type_teacher_avatar .dp_tab {
    display: none;
  }
  .img_box.type_teacher_avatar .dp_mob_1 {
    display: block;
  }
  .img_box.type_teacher_avatar .dp_mob_2 {
    display: none;
  }
}

@media all and (max-width: 521px) {
  .img_box.type_teacher_avatar .dp_tab {
    display: none;
  }
  .img_box.type_teacher_avatar .dp_mob_1 {
    display: none;
  }
  .img_box.type_teacher_avatar .dp_mob_2 {
    display: block;
  }
}

.rev_img {
  display: block;
  width: 100%;
  float: none;
  margin-bottom: 10px;
  text-align: center;
}

.rev_img img {
  display: block;
  float: none;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.marginer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  margin: -80px 0 80px 0;
}
