.area {
    @include ibl;
    width: 100%;
    overflow: hidden;
    &.cart_head {
        background-color: $color_fs_background_gray_bluer;
        overflow: visible;
    }
    .container {
        @include b;
        overflow: hidden;
        ;
        margin: 0 auto;
        width: 1300px;
        padding: 20px 10px 10px;
        &.type_cart {
            @include fxb;
            align-items: flex-start;
            width: 1300px;
            padding: 40px 10px;
            position: relative;
            @include M1301() {
                width: 100%;
                padding: 40px 10px 10px;
            }
            @include MCW(861px) {
                width: 100%;
                padding: 25px 0px 10px;
            }
        }
        @include M1301() {
            width: 100%;
            padding: 10px 10px 10px;
        }
    }
}