
$cgo_orange:#f29001;
$cgo_orange_fader:#f7a349;
$cgo_seablue:#69c5cd;
$cgo_lighterblue:#47bcc7;

$cgo_grassGreen:#c6e6a6;
$cgo_deepGreen:#408000;
$cgo_fadeGreen:#6e9b41;
$cgo_faderGreen:#9cd365;
$cgo_textBlue:#5a5975;

//Graduate SideBar Link
$cgo_graduate_link_fadeGreen:#9cd365;
$cgo_graduate_link_fadeAlmond:#caa389;
$cgo_graduate_link_Orange:#ffac31;
$cgo_graduate_link_Pink:#ffa791;

$cgo_graduate_link_minor_Brown:#642719;
$cgo_graduate_link_minor_Orange:#ffac31;
$cgo_graduate_link_minor_fadeBrown:#705c57;
$cgo_graduate_link_minor_fadeAlmond:#eeb58f;

#examList .el-container{
   @include clean;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.area{
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.type_subject{
      background-color: $cgo_deepGreen;
      min-height: 230px;
      @include MCW(601px) {
         min-height: 240px;
      }
      // margin: -30px 0 30px 0;
   }

   .container{
      @include b;
      overflow: hidden;;
      margin:  0 auto;
      width: 100%;
      max-width: 1300px;
      padding: 10px 10px 50px;
      @include MCW(1171px) {
         width: 100%;
         padding: 0px 0px 0px;
      }
      &.type_detail{
         @include fxb;
         
         width:100%;
         align-items: flex-start;
         @include MCW(1301px){
            flex-direction: column-reverse;
         }
      }
      ul{
         list-style: none;
         padding:0;
         margin:0;
      }
      .title{
         letter-spacing: 0;
      }
   }
}

//detail頁內容樣式
#examList{


   .main_content_block{
      @include fxc;
      width: 100%;
      max-width: calc(100% - 290px);
      @include MCW(1301px){
         max-width: unset;
      }
      .control_block{
         @include ibl;
         width:100%;
         > .title{
            @include ibl;
            width:100%;
            margin: 22px 0  16px;
            color:#111;
            letter-spacing: 3px;
         }
         > .tab_list{
            @include fxfs;
            overflow: hidden;
            margin: 10px 0;
            width: 100%;
            position: relative;
            > .tab{
               @include fxfs;
               flex-wrap: nowrap;
               width:100%;
               border:  solid #eee;
               border-width:0 0 2px 0;
               > .item{
                  @include fxe;
                  box-sizing: border-box;
                  width: 200%;
                  max-width: 200px;
                  padding: 10px 20px;
                  @include hover;
                  position: relative;
                  font-size: 18px;
                  &.active{
                     &:after{
                        content: '';
                        @include ibl;
                        position: absolute;
                        border: solid $cgo_orange;
                        border-width: 0 0 1px 0;
                        width:90%;
                        height: 1px;
                        bottom: -1px;
                     }
                     .icon, .title{
                        color:$cgo_orange;
                     }

                  }
                  > .icon{
                     font-size: 16px;
                     color:$cgo_lighterblue;
                  }
                  > .title{
                     font-size: 17px;
                     letter-spacing: 0;
                  }
               }
            }
         }
      }

   }

   .subject_detail_container{
      .recommand__title{
         font-size: 1.4em;
         font-weight: 600;
      }
      .recommand__feature__list{
         @include fxfsw(270px);
         margin: 10px 0;
      }
      .recommand__feature__list__item{
         @include bl;
      }
      .recommand__description__box{
         @include fxfsw();
         font-size: 1.2em;
         margin: 15px 0 ;
      }
      .recommand__block{
         float: left;
      }
      
      .course-name {
         color: #00ab6b;
         font-size: 22px;
         margin-bottom: 30px;
         font-weight: bold;
      }

      .course-li {
         text-align: center;
         color: #555555;
         width: 213px;
         float: left;
         background-color: rgba(0, 0, 0, 0.1);
         height: 105px;
         margin: 5px;
         font-size: 18px;
         position: relative;
         border-radius: 5px;

         a {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 5px;
         }

         span {
            padding-top: 19%;
            text-align: center;
            width: 100%;
            bottom: 7px;
            display: inline-block;
            line-height: 26px;
            transition: 0.1s;
         }

         a:hover {
            span {
               padding-top: 15%;
            }

            color: white;
            background-color: #00ab6b;

            .course-icon {
               color: white;
            }

            &:after {
               content: '';
               font-size: 20px;
               position: relative;
               text-align: center;
            }
         }
      }

      .course-icon {
         color: rgba(0, 0, 0, 0);
      }

      .course-container {
         width: 100%;
         margin-bottom: 10px;
         overflow: hidden;
         // border-bottom: 1px solid #00ab6b;
         padding-bottom: 25px;
      }

      h3.course-title {
         // border-bottom: 1px solid #00ab6b;
         margin-bottom: 25px;
         padding: 0;

         div {
            padding-left: 15px;
            clip-path: polygon(0 0, 155px 0, 185px 100%, 0% 100%);
            background-color: #00ab6b;
            font-size: 20px;
            color: white;
            padding-top: 2px;
            padding-bottom: 2px;
         }
      }
   }



}



#examList .exam-show .title {
    @include MCW(581px){
      width: unset;
      text-align: unset;
    }
}

#DetailTabListSwiper{
   .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
      display: none;
   }
   .swiper-button-prev,
   .swiper-button-next{
      background-color: #fff;      
      bottom: -1px;
   }
   .swiper-button-prev{
      background-image:url('../img/graduate_img/slider_prev.svg');
      left: 0px;
      right: auto;
      @include bs(5px, 0, 10px ,#ddd);
   }
   .swiper-button-next{
      background-image:url('../img/graduate_img/slider_next.svg');
      right: 0px;
      left: auto;
      @include bs(-5px, 0, 10px ,#ddd);
   }

}