
$cgo_orange:#f29001;
$cgo_orange_fader:#f7a349;
$cgo_seablue:#69c5cd;
$cgo_lighterblue:#47bcc7;

$cgo_grassGreen:#c6e6a6;
$cgo_deepGreen:#408000;
$cgo_fadeGreen:#6e9b41;
$cgo_faderGreen:#9cd365;
$cgo_textBlue:#5a5975;

//Graduate SideBar Link
$cgo_graduate_link_fadeGreen:#9cd365;
$cgo_graduate_link_fadeAlmond:#caa389;
$cgo_graduate_link_Orange:#ffac31;
$cgo_graduate_link_Pink:#ffa791;

$cgo_graduate_link_minor_Brown:#642719;
$cgo_graduate_link_minor_Orange:#ffac31;
$cgo_graduate_link_minor_fadeBrown:#705c57;
$cgo_graduate_link_minor_fadeAlmond:#eeb58f;

#examList .el-container{
   @include clean;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.area{
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.type_subject{
      background-color: $cgo_deepGreen;
      min-height: 230px;
      @include MCW(601px) {
         min-height: 240px;
      }
      // margin: -30px 0 30px 0;
   }

   .container{
      @include b;
      overflow: hidden;;
      margin:  0 auto;
      width: 100%;
      max-width: 1300px;
      padding: 10px 10px 50px;
      @include MCW(1171px) {
         width: 100%;
         padding: 0px 0px 0px;
      }
      &.type_detail{
         @include fxb;
         
         width:100%;
         align-items: flex-start;
         @include MCW(1301px){
            flex-direction: column-reverse;
         }
      }
      ul{
         list-style: none;
         padding:0;
         margin:0;
      }
      .title{
         letter-spacing: 0;
      }
   }
}

//Top Menu Block
#examList{

   .side_info_block{
      @include fxc;
      width: 100%;
      max-width: 280px;
      @include MCW(1301px){
         max-width: unset;
      }
      > .info_container{
         @include fxc;
         > .news{
            @include fxc;
            width: 100%;
            > .list{
               list-style: none;
               @include fxa;
               min-height: 160px;
               margin: 0;
               padding: 0;
               > .item{
                  @include fxe;
                  width:100%;
                  position: relative;
                  a{
                     @include fxe;
                     @include hover;
                     text-align: center;
                     width:100%;
                     font-size: 20px;
                     font-weight: bold;
                     color:#888;
                     padding:0 0 0 25px;
                  }
                  &:not(:last-child)::after{
                     content: '';
                     @include ibl;
                     position: absolute;
                     background-color: #ddd;
                     width:90%;
                     height: 1px;
                     @include arl;
                     bottom: -15px;
                  }
                  .num{
                     @include ibl;
                     padding:1px 6px ;
                     background-color:$cgo_faderGreen;
                     border-radius: 3px;
                     color: #fff;
                     font-size: 12px;
                  }
               }
            }
         }
         > .services{
            @include fxc;
            width: 100%;
            > .list{
               list-style: none;
               @include fxa;
               min-height: 160px;
               margin: 0;
               padding: 0;
               > .item{
                  @include fxe;
                  width:100%;
                  position: relative;
                  a{
                     @include fxb;
                     text-align: center;
                     width:100%;
                     font-size: 20px;
                     font-weight: bold;
                     color:#888;
                     padding:10px 34px;
                     @include bs(3px , 3px , 12px, #eee);
                     margin:6px 0;
                     @include hos2();
                     @include tst;
                  }
                  &:nth-child(1){
                     .icon{
                        background-color: $cgo_graduate_link_fadeGreen;
                     }
                  }
                  &:nth-child(2){
                     .icon{
                        background-color: $cgo_graduate_link_fadeAlmond;
                     }
                  }
                  &:nth-child(3){
                     .icon{
                        background-color: $cgo_graduate_link_Orange;
                     }
                  }
                  &:nth-child(4){
                     .icon{
                        background-color: $cgo_graduate_link_Pink;
                     }
                  }
                  .icon{
                     @include fxc;
                     padding: 0px;
                     background-color: $cgo_faderGreen;
                     width: 25px;
                     height: 25px;

                     border-radius: 3px;
                     i{
                        color:#fff;
                        font-size: 13px;
                     }
                  }
                  .title_box{
                     @include fxc;
                     width: 100%;
                     max-width:85px;;
                     text-align: left;
                     overflow: hidden;
                     > .item{
                        @include ibl;
                        width: 100%;
                        letter-spacing: 0;
                     }
                     > .title{
                        color:$cgo_textBlue;
                        font-size: 17px;
                     }
                     > .subtitle{
                        font-size: 13px;
                        color:#ccc;
                        
                     }
                  }
                  .arrow{
                     @include fxc;
                     padding: 3px;
                     background: #eee;
                     border-radius: 50px;
                     width: 21px;
                     height: 21px;
                     i{
                        font-size: 12px;
                     }
                  }
               }
            }
         }
         > .links{
            > .list{
               > .item{
                  @include ibl;
                  width:100%;
                  position: relative;
                  &:nth-child(1){
                     .icon{
                        color: $cgo_graduate_link_minor_Brown;
                     }
                  }
                  &:nth-child(2){
                     .icon{
                        color: $cgo_graduate_link_minor_Orange;
                     }
                  }
                  &:nth-child(3){
                     .icon{
                        color: $cgo_graduate_link_minor_fadeBrown;
                     }
                  }
                  &:nth-child(4){
                     .icon{
                        color: $cgo_graduate_link_minor_fadeAlmond;
                     }
                  }
                  a{
                     @include fxfs;
                     @include hover;
                     padding: 4px 0 4px 27px;
                  }
                  &:not(:last-child)::after{
                     content: '';
                     @include ibl;
                     position: absolute;
                     border:1px dashed #866059;
                     border-width: 0 0 1px 0;
                     width:90%;
                     height: 1px;
                     @include arl;
                     bottom: 0px;
                     opacity: .3;
                  }
                  .icon{
                     @include ibl;
                     padding:10px;
                     i{
                        padding: 0 10px 0 0;
                     }
                  }
                  .title{
                     font-size: 18px;
                     letter-spacing: 0;

                  }
               }
            }

         }
         > .item{
            margin: 0 0 20px;
            ul{
               list-style: none;
               margin: 0;
               padding: 0;
            }
         }
      }
   }

   .main_content_block{
      @include fxc;
      width: 100%;
      max-width: calc(100% - 290px);
      @include MCW(1301px){
         max-width: unset;
      }
      .control_block{
         @include ibl;
         width:100%;
         > .title{
            @include ibl;
            width:100%;
            margin: 22px 0  16px;
            color:#111;
            letter-spacing: 3px;
         }
         > .tab_list{
            @include fxfs;
            overflow: hidden;
            margin: 10px 0;
            width: 100%;
            position: relative;
            > .tab{
               @include fxfs;
               flex-wrap: nowrap;
               width:100%;
               border:  solid #eee;
               border-width:0 0 2px 0;
               > .item{
                  @include fxe;
                  box-sizing: border-box;
                  width: 200%;
                  max-width: 200px;
                  padding: 10px 20px;
                  @include hover;
                  position: relative;
                  font-size: 18px;
                  &.active{
                     &:after{
                        content: '';
                        @include ibl;
                        position: absolute;
                        border: solid $cgo_orange;
                        border-width: 0 0 1px 0;
                        width:90%;
                        height: 1px;
                        bottom: -1px;
                     }
                     .icon, .title{
                        color:$cgo_orange;
                     }

                  }
                  > .icon{
                     font-size: 16px;
                     color:$cgo_lighterblue;
                  }
                  > .title{
                     font-size: 17px;
                     letter-spacing: 0;
                  }
               }
            }
         }
      }

   }

}

#examList .exam-show .title {
    @include MCW(581px){
      width: unset;
      text-align: unset;
    }
}

#DetailTabListSwiper{
   .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
      display: none;
   }
   .swiper-button-prev,
   .swiper-button-next{
      background-color: #fff;      
      bottom: -1px;
   }
   .swiper-button-prev{
      background-image:url('../img/graduate_img/slider_prev.svg');
      left: 0px;
      right: auto;
      @include bs(5px, 0, 10px ,#ddd);
   }
   .swiper-button-next{
      background-image:url('../img/graduate_img/slider_next.svg');
      right: 0px;
      left: auto;
      @include bs(-5px, 0, 10px ,#ddd);
   }

}