
$cgo_orange:#f29001;
$cgo_orange_fader:#f7a349;
$cgo_seablue:#69c5cd;
$cgo_lighterblue:#47bcc7;

$cgo_grassGreen:#c6e6a6;
$cgo_deepGreen:#408000;
$cgo_fadeGreen:#6e9b41;
$cgo_faderGreen:#9cd365;
$cgo_textBlue:#5a5975;

//Graduate SideBar Link
$cgo_graduate_link_fadeGreen:#9cd365;
$cgo_graduate_link_fadeAlmond:#caa389;
$cgo_graduate_link_Orange:#ffac31;
$cgo_graduate_link_Pink:#ffa791;

$cgo_graduate_link_minor_Brown:#642719;
$cgo_graduate_link_minor_Orange:#ffac31;
$cgo_graduate_link_minor_fadeBrown:#705c57;
$cgo_graduate_link_minor_fadeAlmond:#eeb58f;


@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/earlyaccess/cwtexming.css");
@import url("https://fonts.googleapis.com/earlyaccess/cwtexkai.css");
@import url("https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css");
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
@import url("https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro");
 .cwtexyen{
    font-family: 'Source Sans Pro' , 'Muli'  ,'cwTeXYen','微軟正黑體','Arial', '新細明體';
}






